@layer reset, init, design;

@import url("normalise.css");

@import url("https://piscum.photos/300/200.webp?random=1") layer(init);

@layer design {
    :root {
    color-scheme: light dark;
    --header-bg-color: light dark(#3b3e40,#3b3e40);
    --header-text-color: light dark(#fff,#fff)
    --primary-color: light dark(#66d4d4,#2b5a5a);
    --secondary-color:#fff;
    --text-color: light dark(#000,#fff);
}
html {
    font-family:"Open Sans",sans-serif;
    font-size: 100%;
    color:var(--text-color);
}
body {
    background-color: var(--bg-color);
}
.header {
    background-image: url("../images/header-2560w.webp");
    background-size: cover;
    background-position: top left;
    background-color: var(--header-bg-color);
    color:var(--header-text-color);
    line-height: 1.5;
}
.header__link{
    display: inline-block;
    text-align:center;
    
}
}

